.signin {
  margin: 0;
  padding-top: 125px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signin__title {
  margin: 0;
  margin-bottom: 15px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  color: #000000;
}
.signin__form {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.signin__input {
  margin: 0;
  padding-left: 17px;
  width: 237px;
  height: 33px;
  outline: none;
  border: none;
  background-color: #000;
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 19px;

  color: #ffffff;
}
.signin__input::placeholder {
  color: #bababa;
}
.signin__submit-btn {
  margin: 0 auto;
  width: 93px;
  height: 35px;
  border: none;
  background-color: #000;
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 19px;
  transition: opacity 200ms ease-in-out;

  color: #ffffff;
}
.signin__submit-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}
