.signin {
  margin: 0;
  padding-top: 125px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signin__title {
  margin: 0;
  margin-bottom: 25px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-size: 25px;
  line-height: 30px;

  color: #000000;
  /* identical to box height */

  color: #000000;
}
.signin__form {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.signin__input {
  margin: 0;
  padding-left: 17px;
  width: 229px;
  height: 41px;
  outline: none;
  border: none;
  border-bottom: 1px solid #bbbbbb;
  background-color: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  transition: border-bottom 200ms ease-in-out;

  color: #000;
}
.signin__input_error {
  border-bottom: 1px solid #ff3c3c;
}
.signin__input::placeholder {
  color: #bababa;
}
.signin__input-container {
  margin: 0;
  padding-bottom: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.signin__span_error {
  margin: 0;
  position: absolute;
  bottom: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 17px;
  color: #ff3c3c;
}
.signin__submit-btn {
  margin: 0 auto;
  margin-top: 15px;
  width: 93px;
  height: 35px;
  border: 1px solid #e0e0e0;
  background-color: #fff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  transition: opacity 200ms ease-in-out;
  cursor: pointer;

  color: #000;
}
.signin__submit-btn:hover {
  opacity: 0.8;
}
.signin__submit-btn_disabled {
  opacity: 0.8;
  cursor: auto;
}
