.create-order {
  margin: 0 auto;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.create-order__title {
  margin: 0 auto;
  margin-top: 123px;
  margin-bottom: 136px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-size: 28px;
  line-height: 34px;
  /* identical to box height */

  color: #000000;
}
.create-order__form {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 113px;
}
.create-order__container-form {
  margin: 0;
  display: flex;
  gap: 94px;
}
.create-order__container-input{
  margin: 0;
  display: flex;
  flex-direction: column;
}
.create-order__input {
  margin: 0;
  width: 310px;
  height: 75px;
  outline: none;
  border: 2px solid #000;
  background-color: #000000;
  font-family: "Inter";
  font-style: normal;
  text-align: center;
  font-weight: 200;
  font-size: 25px;
  line-height: 30px;

  color: rgb(255, 255, 255);
}
.create-order__input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.create-order__error-text{
  margin: 0;
  margin-top: 5px;
  font-family: "Inter";
  font-style: normal;
  text-align: center;
  font-weight: 200;
  font-size: 18px;
  line-height: 23px;
  color: #ff3636;
}
.create-order__submit-btn {
  margin: 0;
  width: 218px;
  height: 56px;
  border: none;
  background-color: #000000;
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-size: 25px;
  line-height: 30px;
  transition: opacity 200ms ease-in-out;

  color: #ffffff;
}
.create-order__submit-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}
.create-order__order-btn {
  margin: 0 auto;
  position: fixed;
  right: 0;
  bottom: 0;
  margin-top: 50px;
  border: none;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  background-color: #000000;
  width: 381px;
  height: 56px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-size: 25px;
  line-height: 30px;
  transition: opacity 200ms ease-in-out;

  color: #ffffff;
}
.create-order__order-btn:hover{
    cursor: pointer;
    opacity: .8;
}
.create-order__order-btn__disabled {
  opacity: .8;
}
.create-order__order-btn__disabled:hover {
  cursor:no-drop;
}
.create-order__order-btn__disabled {
  opacity: .8;
  cursor:no-drop;
}
.create-order__input-error{
  border: 2px solid #ff3636
}